*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --cyan:hsl(193, 38%, 86%);
  --neon-green:hsl(150, 100%, 66%);
  --grayish-blue:hsl(217, 19%, 38%);
  --dark-grayish-blue:hsl(217, 19%, 24%);
  --dark-blue:hsl(218, 23%, 16%);
}
body{
  font-family: 'Manrope', sans-serif;
}
#advice-app{
  background-color: var(--dark-blue);
  min-height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  width:550px;
  height:500px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.tabs{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark-grayish-blue);
  height:60px;
  width:400px;
  border-radius: 25px;
  margin-bottom: 1.5rem;
}
.tab-links{
  background-color: transparent;
  outline: none;
  border: solid 2px transparent;
  padding:8px 12px;
  color: var(--cyan);
  cursor: pointer;
  width:120px;
  height:40px;

}

.tab-links:hover{
  background-color:var(--cyan);
  color:var(--dark-blue);
  font-weight: 600;
  border-radius: 20px;
  padding:8px 12px;
  width:120px;
  height:40px;
}

.tab-links.active{
  background-color: var(--neon-green);
  color:var(--dark-blue);
  font-weight: 600;
  border-radius: 20px;
  padding:8px 12px;
  width:120px;
  height:40px;
}

#advice,.advice{
  background-color: var(--dark-grayish-blue);
  color: var(--cyan);
  width: 550px;
  height: 300px;
  border-radius: 10px;
  padding: 1rem;
  font-size: 28px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#advice-title{
  font-size: 20px;
  color:var(--neon-green);
}

.attribution{
  color: var(--cyan);
  font-size: 14px;
}

.attribution a{
  color:var(--neon-green)
}
.dice-icon{
  background-color: var(--neon-green);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: -2rem;
}